/* your styles go here */
.bar.background-image-fixed-3 {
  background: url('../img/fixed-background-3.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* #mapid { height: 370px; } */


/* zentrieren hinweis-top */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* zentrieren hinweis-top ende */

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%; /*16/9 */
    padding-bottom: 40%;
	padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Fließtext etwas kleiner */
body {
  font-size: 16px;  /* statt 18px */
}

/* Überschriften weniger fett und mit etwas Luft */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500; /* statt 700 (normal ist 400, fett ist 700) */
  line-height: 1.3;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
Optional, wenn du willst, dass z. B. h1 noch etwas dezenter ist:

css
Kopieren
Bearbeiten
h1 {
  font-size: 2rem;
  font-weight: 400;
}