{{ define "main" }}

<!-- breadcrumb -->
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Programm</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>spielplan</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- programm -->
<section class="bar background-gray no-mb" id="programm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Title }}</h2>
                </div>
                <p class="lead">Es spielt das Orchester der Schäftlarner Konzerte. Der Konzertbeginn ist um 19:00 Uhr. Der Einlass öffnet eine halbe Stunde vor Konzertbeginn. Änderungen vorbehalten.</p>
                
                {{ if .Params.concerts }}
                <div class="col-md-14">
                    <div class="panel-group accordion" id="accordionThree">
                        {{ range $index, $concert := .Params.concerts }}
                        {{ $collapseId := printf "collapse%d" (add $index 1) }}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" href="#{{ $collapseId }}" data-toggle="collapse"{{ if not $.Params.allow_multiple_open }} data-parent="#accordionThree"{{ end }}>
                                        {{ dateFormat "2. January 2006" $concert.date | replaceRE "January" "Januar" | replaceRE "February" "Februar" | replaceRE "March" "März" | replaceRE "April" "April" | replaceRE "May" "Mai" | replaceRE "June" "Juni" | replaceRE "July" "Juli" | replaceRE "August" "August" | replaceRE "September" "September" | replaceRE "October" "Oktober" | replaceRE "November" "November" | replaceRE "December" "Dezember" }}
                                        <i>/ <span style="text-transform: none;">{{ $concert.title }}</span></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="{{ $collapseId }}" class="panel-collapse collapse{{ if or (and (not (reflect.IsSlice $.Params.default_open)) (eq (add $index 1) $.Params.default_open)) (and (reflect.IsSlice $.Params.default_open) (in $.Params.default_open (add $index 1))) }} in{{ end }}" data-concert-date="{{ $concert.date }}">
                                <div class="panel-body">
                                    {{ if $concert.program }}
                                    <p>
                                        {{ range $concert.program }}
                                        {{ . }}<br>
                                        {{ end }}
                                    </p>
                                    {{ end }}
                                    
                                    {{ if $concert.artists }}
                                    <p>
                                        {{ $soloists := slice }}
                                        {{ $conductor := "" }}
                                        {{ range $concert.artists }}
                                            {{ if (strings.Contains . "Leitung:") }}
                                                {{ $conductor = . }}
                                            {{ else }}
                                                {{ $soloists = $soloists | append . }}
                                            {{ end }}
                                        {{ end }}
                                        
                                        {{ if $soloists }}
                                        {{ range $i, $artist := $soloists }}
                                            {{ if gt $i 0 }}; {{ end }}
                                            {{ $parts := split $artist "," }}
                                            {{ $name := index $parts 0 }}
                                            {{ $instrument := "" }}
                                            {{ if gt (len $parts) 1 }}
                                                {{ $rawInstrument := index $parts 1 }}
                                                {{ if $rawInstrument }}
                                                    {{ $instrument = strings.TrimSpace (printf "%s" $rawInstrument) }}
                                                {{ end }}
                                            {{ end }}
                                            {{ $urlName := $name | lower | replaceRE "\\s+" "-" | replaceRE "[^a-z0-9-]" "" }}
                                            <a style="color:rgb(150,190,255);" href="/solisten/{{ $urlName }}/">{{ $name }}</a>{{ if $instrument }}, {{ $instrument }}{{ end }}
                                        {{ end }}<br>
                                        {{ end }}
                                        
                                        {{ if $conductor }}
                                        {{ $conductor | replaceRE "Leitung: " "" | printf "Leitung: <a style=\"color:rgb(150,190,255);\" href=\"/leitung/michael-forster/\">%s</a>" | safeHTML }}
                                        {{ end }}
                                        
                                        <br><br>
                                        {{ if $concert.ticket_url }}
                                        <a style="font-style:oblique;font-size:1.05em;font-weight:800;" target="_blank" href="{{ $concert.ticket_url }}">
                                            Tickets für dieses Konzert sichern ab €&nbsp;25
                                        </a>
                                        {{ end }}
                                    </p>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}

{{ define "scripts" }}
<script>
$(document).ready(function() {
    var today = new Date();
    today.setHours(0, 0, 0, 0); // Set to start of day for comparison
    
    // Check if there's a specific hash in the URL (direct link)
    var hasDirectLink = window.location.hash && window.location.hash.startsWith('#collapse');
    
    if (hasDirectLink) {
        // Direct link behavior: Only open the specified panel
        var hash = window.location.hash;
        var target = $(hash);
        if (target.length && target.hasClass('panel-collapse')) {
            // Close all panels first
            $('.panel-collapse').removeClass('in');
            // Open the target panel
            target.addClass('in');
            // Scroll to the panel
            $('html, body').animate({
                scrollTop: target.offset().top - 100
            }, 500);
        }
    } else {
        // Automatic behavior: Open future concerts, close past ones
        $('.panel-collapse').each(function() {
            var concertDateStr = $(this).data('concert-date');
            if (concertDateStr) {
                var concertDate = new Date(concertDateStr);
                concertDate.setHours(0, 0, 0, 0);
                
                if (concertDate >= today) {
                    // Future or today's concert: open it
                    $(this).addClass('in');
                } else {
                    // Past concert: close it
                    $(this).removeClass('in');
                }
            }
        });
    }
});
</script>
{{ end }}