{{ define "main" }}
 <link href="/css/spielplan.css" rel="stylesheet">
<section class="spielplan-grid">
  {{ range .Pages.ByDate.Reverse }}
  <article class="spielplan-card">
    {{ with .Params.bild }}
      <img class="spielplan-img" src="{{ . | relURL }}" alt="Bild zu {{ .Title }}">
    {{ end }}
    <div class="spielplan-content">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02.01.2006" }}</time>
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p><strong>Ort:</strong> {{ .Params.location }}</p>
      {{ with .Params.programm }}<p>{{ . | markdownify }}</p>{{ end }}
      {{ with .Params.solists }}<p><strong>Solist:innen:</strong> {{ . }}</p>{{ end }}
      {{ with .Params.leitung }}<p><strong>Leitung:</strong> {{ . }}</p>{{ end }}
      {{ with .Params.tickets }}
        <p><a class="spielplan-button" href="{{ .url }}">🎟 Tickets ab €{{ .price }}</a></p>
      {{ end }}
    </div>
  </article>
  {{ end }}
</section>
{{ end }}
