{{ define "main" }}
<link rel="stylesheet" href="{{ "css/spielplan.css" | relURL }}">

<article class="spielplan-einzelseite">
  <h1>{{ .Title }}</h1>
  <p><strong>Ort:</strong> {{ .Params.location }}</p>
  {{ with .Params.programm }}<p><strong>Programm:</strong><br>{{ . | markdownify }}</p>{{ end }}
  {{ with .Params.solists }}<p><strong>Solist:innen:</strong> {{ . }}</p>{{ end }}
  {{ with .Params.leitung }}<p><strong>Leitung:</strong> {{ . }}</p>{{ end }}
  {{ with .Params.tickets }}
    <p><a class="spielplan-button" href="{{ .url }}">🎟 Tickets ab €{{ .price }}</a></p>
  {{ end }}
  {{ with .Params.bild }}
    <img src="{{ . | relURL }}" alt="Konzertbild">
  {{ end }}

  <div class="spielplan-beschreibung">
    {{ .Content }}
  </div>
</article>
 {{ end }}
