<div class="alert text-center cookiealert" role="alert">
    &#x1F36A; <b>Wir machen Konzerte und backen keine Kekse.</b> &#x1F36A; <br>
    Unsere Webseite verwendet keine Cookies von Drittanbietern und auch keine Cookies, um Ihr Nutzungsverhalten zu tracken. 
    Es kann aber sein, dass unser Webhoster technisch notwendige Cookies setzt, ohne die die Seite nicht richtig funktionieren würde. 
    Mehr in unserer <a href="/datenschutz/"> Datenschutzerklärung</a>.<br> 
    <button type="button" class="btn btn-template-transparent-primary btn-sm acceptcookies">Ok</button>
</div>