<header>
    <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">
        <div class="navbar navbar-default yamm" role="navigation" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand home" href="/"> 
                        <img src="/img/logo.png" alt="Schäftlarner Konzerte" class="hidden-xs hidden-sm"> 
                        <img src="/img/logo-small.png" alt="Schäftlarner Konzerte" class="visible-xs visible-sm">
                        <span class="sr-only">Schäftlarner Konzerte - Startseite</span> 
                    </a>
                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation"> 
                            <span class="sr-only">Toggle navigation</span> 
                            <i class="fa fa-align-justify"></i> 
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->
                <div class="navbar-collapse collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <!-- Home -->
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/">Infos</a></li>
                                <li><a href="/#leitung">Über die Konzerte</a> </li>
                                <li><a href="/#kloster-schaeftlarn">Kloster Schäftlarn</a> </li>
                                <li><a href="/#fotos">Rund ums Konzert</a> </li>
                                <li><a href="/#gastronomie">Gastronomie</a> </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <!-- Programm -->
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Programm<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/programm/2025/">Spielplan 2025</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <!--   Tickets, Preise  -->
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Tickets<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/tickets/">Tickets</a> </li>
                                <li><a href="/tickets/#preise">Preise</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <!--   Förderkreis  -->
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Förderkreis<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/foerderkreis/">Förderkreis</a> </li>
                                <li><a href="/foerderkreis/#foerdern">Fördern Sie mit!</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Kontakt<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/contact/">So erreichen Sie uns</a> </li>
                                <li><a href="/contact/#weg">So finden Sie zu uns</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <!-- /#navbar -->
    </div>
    <!-- *** NAVBAR END *** -->
</header>