<section class="section">
  <div class="container">
    <h2 class="h3 mb-3 text-center">Liebe Musikfreunde,</h2>
    <div class="col-lg-8 mx-auto">
      <p>seit vielen Jahren bereichern die Schäftlarner Konzerte das kulturelle Leben in unserer Region. Mit Engagement, Herzblut und musikalischer Vielfalt laden wir Sie ein, unvergessliche Konzertabende in der Klosterkirche Schäftlarn zu erleben.</p>
      <p>Wir freuen uns auf Ihren Besuch!</p>
      <p class="mb-0">Ihr<br>Michael Forster und das Team der Schäftlarner Konzerte</p>
    </div>
  </div>
</section>
